@font-face {
  font-family: "font1";
  src: url(/fonts/FZSJ-XRWFTJW.woff) format("woff"); }


.circle-img {
  border-radius: 100%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'font1', cursive, sans-serif; }

html,
body,
#wedding_invitaiton {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
#prompt1{
  color: rgb(222, 25, 219);
  font-size: 20px;
  margin-top: 0.53333rem;
  text-align: center; 
}
#prompt2{
  color: white;
  font-size: 16px;
  margin-top: 0.53333rem;
  text-align: center;
}
  
#ready {
  background-color: #f1dbe2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  transition: 0.45s all linear; }
  #ready .loader {
    display: block; }
  #ready p {
    color: white;
    font-size: 16px;
    margin-top: 0.53333rem; }
  #ready.finished {
    display: none; }
  #ready .playH5 {
    display: none;
    font-size: 0.8rem;
    color: white; }
    #ready .playH5#start {
      display: none !important; }

#musicControl {
  font-size: 0.66667rem;
  color: white;
  position: fixed;
  z-index: 9999;
  right: 0.66667rem;
  top: 0.66667rem;
  border-radius: 100%;
  display: block;
  height: 1.06667rem;
  width: 1.06667rem;
  opacity: 0.5; }
  #musicControl.active {
    animation: playing 2s linear infinite alternate; }

#wedding_invitaiton {
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-repeat: no-repeat; }
  #wedding_invitaiton.noReady {
    overflow: hidden;
    height: 100vh; }
  #wedding_invitaiton .playH5#start {
    display: none !important; }

#cover {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 1.6rem 0 0.53333rem; }
  #cover .subTitle {
    font-size: 0.53333rem;
    font-weight: normal;
    text-align: center;
    color: white;
    font-family: 'font1', cursive, sans-serif; }
  #cover .titles {
    margin-top: 2.13333rem; }
    #cover .titles #headTitle {
      font-size: 1.06667rem;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      font-family: 'font1', cursive, sans-serif; }
    #cover .titles .subTitle.animate {
      animation: title 1s linear infinite alternate; }
  #cover #countDown_container {
    font-size: 0.42667rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    #cover #countDown_container span {
      display: flex;
      height: 1.86667rem;
      width: 1.86667rem;
      margin: 0.26667rem;
      border-radius: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-weight: bold; }
      #cover #countDown_container span:after {
        display: block;
        content: attr(title);
        font-size: 0.26667rem;
        font-weight: normal; }

#couple_info {
  padding: 1.6rem 0 0.53333rem;
  background-color: #fff8e1;
  height: 100%;
  width: 100%;
  color: #455a64;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }
  #couple_info article {
    width: 100%;
    margin-bottom: 0.53333rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center; }
    #couple_info article * {
      margin: 0.13333rem auto; }
    #couple_info article h3 {
      font-size: 0.8rem; }
    #couple_info article img {
      width: 4rem; }
    #couple_info article .name {
      font-size: 0.53333rem;
      font-weight: bold; }
    #couple_info article .contact_info {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      #couple_info article .contact_info span {
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        font-size: 0.53333rem; }
    #couple_info article .phone {
      font-size: 0.53333rem;
      font-weight: bold; }

#timeline_container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: url("/img/timelineBg.jpg");
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  background-repeat: no-repeat; }
  #timeline_container #timeline_cover {
    background-image: url("img/bg/bg1.jpeg");
    /* background-color: rgba(166, 106, 176, 0.6); */
    padding: 0.53333rem 0.13333rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%; }
  #timeline_container h3 {
    font-size: 0.8rem;
    margin-bottom: 0.53333rem;
    color: white; }
  #timeline_container .timeline_row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-items: flex-start; }
    #timeline_container .timeline_row:last-of-type .timeline_dot:after {
      height: 1.86667rem;
      background: linear-gradient(to bottom, white, rgba(0, 0, 0, 0)); }
    #timeline_container .timeline_row .timeline_dot {
      flex: 0 0 30%;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center; }
      #timeline_container .timeline_row .timeline_dot:after {
        content: '';
        width: 0.05333rem;
        background: white;
        height: 1.33333rem; }
      #timeline_container .timeline_row .timeline_dot span {
        width: 1.33333rem;
        height: 1.33333rem;
        border-radius: 100%;
        border-color: white;
        border-width: 0.05333rem;
        border-style: solid;
        font-size: 0.66667rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white; }
    #timeline_container .timeline_row .timeline_content {
      flex: 1 0 70%; }
      #timeline_container .timeline_row .timeline_content h4 {
        font-size: 0.53333rem;
        color: white; }
      #timeline_container .timeline_row .timeline_content p {
        font-size: 0.42667rem;
        color: white; }

#tips_container {
  padding: 0.8rem 1.33333rem 0.53333rem 1.33333rem;
  background-color: #fff8e1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.53333rem;
  color: #303f9f; }
  #tips_container h3 {
    font-size: 0.8rem;
    margin-bottom: 0.53333rem;
    color: #303f9f; }
  #tips_container p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.13333rem auto; }
    #tips_container p .title {
      flex: 1;
      font-size: 0.8rem;
      text-align: center; }
    #tips_container p .inner {
      flex: 3 0 2.66667rem;
      text-align: center; }
      #tips_container p .inner.hotellInfo {
        display: flex;
        align-items: center;
        justify-content: center; }
        #tips_container p .inner.hotellInfo .phone {
          margin-left: 0.08rem;
          font-size: 0.66667rem; }
  #tips_container #gotoHotel {
    margin-top: 0.8rem;
    color: #303f9f;
    text-decoration: none;
    position: relative;
    font-size: 0.42667rem; }
    #tips_container #gotoHotel .iconfont {
      font-weight: bold;
      font-size: 0.48rem;
      animation: navi 1s linear infinite alternate; }

#gallery_container {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }
  #gallery_container #gallery {
    position: relative;
    width: 100%;
    height: 100vh; }
    #gallery_container #gallery #gallery_ctrl {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
      padding: 0.53333rem;
      position: absolute;
      right: 0rem;
      bottom: 0rem;
      z-index: 99;
      width: 100%;
      background: rgba(0, 0, 0, 0.4); }
      #gallery_container #gallery #gallery_ctrl .title {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding: 0.26667rem 0;
        font-size: 0.8rem;
        color: white; }
      #gallery_container #gallery #gallery_ctrl span {
        display: block;
        color: white;
        text-shadow: 0 0 0 black;
        font-size: 0.48rem;
        opacity: 0.5;
        transition: all 0.5s linear;
        font-weight: bold;
        cursor: pointer; }
        #gallery_container #gallery #gallery_ctrl span.active {
          opacity: 1;
          text-shadow: 0 0 0.8rem rgba(255, 255, 255, 0.8); }
    #gallery_container #gallery .photos {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      left: 0;
      top: 0;
      opacity: 0;
      transition: all 1.5s linear; }
      #gallery_container #gallery .photos:first-of-type, #gallery_container #gallery .photos.active {
        opacity: 1; }
      #gallery_container #gallery .photos:hover {
        animation-play-state: paused; }

#production_team {
  padding: 0.8rem 1.33333rem 0.53333rem 1.33333rem;
  background-color: #fff8e1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.53333rem;
  color: #303f9f;
}
#production_team h3 {
  font-size: 0.8rem;
  margin-bottom: 0.53333rem;
  color: #303f9f; }
#production_team p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.13333rem auto; }
  #production_team p .title {
    flex: 1;
    font-size: 0.8rem;
    text-align: center; }
  #production_team p .inner {
    flex: 3 0 2.66667rem;
    text-align: center; }
    #production_team p .inner.hotellInfo {
      display: flex;
      align-items: center;
      justify-content: center; }
      #production_team p .inner.hotellInfo .phone {
        margin-left: 0.08rem;
        font-size: 0.66667rem; }
#production_team #gotoHotel {
  margin-top: 0.8rem;
  color: #303f9f;
  text-decoration: none;
  position: relative;
  font-size: 0.42667rem; }
  #production_team #gotoHotel .iconfont {
    font-weight: bold;
    font-size: 0.48rem;
    animation: navi 1s linear infinite alternate; }



@keyframes title {
  from {
    color: rgba(255, 255, 255, 0.5); }
  to {
    color: white; } }

@keyframes navi {
  from {
    color: rgba(255, 248, 225, 0.5); }
  to {
    color: #303f9f; } }

@keyframes gallery {
  from {
    background-position: center; }
  to {
    background-position: right center; } }

@keyframes playing {
  from {
    opacity: 0.5; }
  to {
    opacity: 1; } }

@media (min-width: 800px) {
  #cover .titles {
    margin-top: 0; }
  #couple_info {
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    #couple_info article {
      flex: 1 0 50%; } }
